{% extends 'frontend/base.html'%} {% block content%}
<div class="row align-items-md-stretch">
  <form id="test_form">
    {% csrf_token %}
    <input type="text" id="name" />
    <input type="text" id="age" />
    <button value="" id="test_submit">Submit</button>
  </form>
</div>
<script>
  const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
  $(document).ready(function () {
    $(`#test_submit`).click(function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "{%url 'test'%}",
        data: {
          name: $(`#name`).val(),
          age: $(`#age`).val(),
          csrfmiddlewaretoken: csrftoken,
        },
        dataType: "json",
        success: function (data) {
          console.log(data);
        },
      });
    });
  });
</script>
{% endblock%}
